.singin__screen{
    max-width: 300px;
    padding: 40px;
    margin-left:  auto;
    margin-right: auto;
    background: rgba(0,0,0,0.70);
    border-radius: 20px;


}

.singin__screen > form {
    display: grid;
    flex-direction: column;
}

.singin__login > form {
    display: grid;
    flex-direction: column;
}

.singin__login > form > input {
    margin-bottom: 14px;
    outline-width: 0;
    height: 30px;
    
    border: none;
    padding: 5px 15px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 20px;
    }

    .singin__login > form > button {
        padding: 12px 20px;
        background: #e50914;
        border-radius: 5px;
        color: #fff;
        height: 40px;
        font-size: 1rem;
        border: none;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;

    }

.singin__screen > form > input {
    margin-bottom: 14px;
    outline-width: 0;
    height: 30px;
    
    border: none;
    padding: 5px 15px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 20px;
    }

  .singin__screen > form > h1{
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 0;

      

    }

    .singin__screen > form > button {
        padding: 13px 20px;
        background: #e50914;
        border-radius: 5px;
        color: #fff;
        height: 40px;
        font-size: 1rem;
        border: none;
        font-weight: 600;
        margin-top: 45px;
        margin-bottom: 20px;
        cursor: pointer;

    }
   
    .singin__gray {
        
        color: #999;
    }
    .singin__link:hover{
        cursor: pointer;
        text-decoration: underline;

    }
    .singin__error{
        position: absolute;
        top: 0;      
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        allign-items:center;
        background-color: rgba(0,0,0,0.80);
        height: 100%;
    }
   .singin__screen > form > p{
       color: #fff;
        font-size: 0.7rem;
        font-weight: 400;
        margin-top: 5px;
        cursor: pointer;
       
        position: absolute;
        bottom: 10rem;
        padding: 2px 15px
   }
.for__get > p{
    font-size: 0.80rem;
    font-weight: 400;
    margin-top: 5px;
    allign-items:center;
    display:flex;
    padding-left:10px;
    //border:dashed 1px #fff;
    border-radius: 8px;
    padding-top:3px;
    padding-bottom:3px;
    opacity: 0.9;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
   }
   @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }

  }

   .input__forget{
    margin-bottom: 14px;
    outline-width: 0;
    height: 30px;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border: none;
    padding: 5px 15px;
    background: rgba(0,0,0,0.5);
    color: black;
    background:#fff;
   
   }
   .button__forget{
    padding: 14px 10px;
    background: #e50914;
    display:flex;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    color: #fff;
    height: 40px;
    font-size: 0.6rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    width:100%;
    justify-content:center
    
   }
   .div__forget{
    display:flex;
    flex-direction:row;
    margin-top:8px;
    margin-bottom:0px;
    width:100%;
    gap:1px;
   }
   .google__logo{
    height: 40px;
    padding-left:13px;
    object:cover;
   }
   .google__button{

    width:80%;
    padding: 13px 20px;  
    border-radius: 5px;
    color: #111;
    height: 40px;
    font-size: 0.9rem;
    border: none;
    font-weight: 600;  
    cursor: pointer;
   }
   .div__googlebtn {
    display:flex;
    allign-items:center;
   }
   .singup__btn{
    padding: 13px 20px;
        background: #e50914;
        border-radius: 5px;
        color: #fff;
        height: 40px;
        font-size: 1rem;
        border: none;
        font-weight: 600;
        cursor: pointer;
   }